{sub_dirs, [
  "chapter03", 
  "gettingStartedWithErlang",
  "homework02",
  "homework04",
  "reverse",
  "learnYouSomeErlangChapter01_07",
  "learnYouSomeErlangChapter08",
  "learnYouSomeErlangChapter10",
  "learnYouSomeErlangChapter13",
  "learnYouSomeErlangChapter14",
  "learnYouSomeErlangChapter17",
  "learnYouSomeErlangChapter18",
  "learnYouSomeErlangChapter19",
  "homework10_counter",
  "homework11_pool"
]}.
{lib_dirs, ["../apps"]}.
{deps_dir, ["../deps"]}.